<h1 class="z">Usuarios</h1>
<table>
    <thead>
      <tr>
    <th>Email</th>
    <th>Fecha de registro</th>
    </tr>    
    </thead>
    
    <tbody>
    <% @users.each do |user| %>
        <tr>
        <td><%= user.email %></td>
       <td><%= user.created_at %></td>
        
        </tr>
        
    <% end %>
        
    
    </tbody>
</table>