<p id="notice"><%= notice %></p>

<h1>Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>email</th>
      <th>rotten</th>
         <th>Avatar</th>
         <th>usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
    	  <td><%= zombie.rotten ? "yes" : "no"%></td>
          <td><%= image_tag zombie.avatar,class:"avatarx" %></td>
          <%if zombie.user_id?%>
          <td><p><%=User.find(zombie.user_id).email%></p></td>
          <%else%>
          <td><p>Usuario sin registrar</p></td>
          <%end%>
          
          <% if current_user.role == "contributor"%>
         <td class="small button success"><%= link_to 'MOSTRAR', zombie %></td>
        <td class="small button success"><%= link_to 'EDITAR', edit_zombie_path(zombie) %></td>
          <%end%>
          
          <% if current_user.role == "subscriptor"%>
         
          <%end%>
          
          <% if current_user.role == "editor"%>
         <td class="small button success"><%= link_to 'MOSTRAR', zombie %></td>
        <td class="small button success"><%= link_to 'EDITAR', edit_zombie_path(zombie) %></td>
        <td class="small button success"><%= link_to 'BORRAR', zombie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
          
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if current_user.role == "editor"%>         
<a href="/zombies/new" class="button">Nuevo zombie</a>
<%end%>





