// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.avatarx{
    width: 30px;
    height: 30px;
    position: inline-block;
    
    
}

.letra{
  color: white;
}