<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "lolazoJVE" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    

  <body>
   
    <div class="top-bar foundation-5-top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <strong>javier Valenzuela</strong>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-left">
          <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
            <li>
              <a href="#">Menu Zombies</a>
              <ul class="menu">
                <li><%= link_to 'Lista Zombie', zombies_path %></li>
                <li><%= link_to 'Nuevo Zombie', new_zombie_path %></li>
              </ul>
            </li>
          </ul>
        </div>
      <div class="top-bar-right">
          <%if user_signed_in?%>
          <strong>Bienvenido hijo mio(a)<%= current_user.email%> </strong>
          <strong><%= link_to "Cerrar secion alv", destroy_user_session_path, method: :delete%></strong>
          <strong><%=link_to "Edita tu perfil hijo mio", edit_user_registration_path%></strong>
        <%elsif admin_signed_in?%>
          <strong>Bienvenido hijo mio(a)<%= current_admin.email%> </strong>
          <strong><%= link_to "Cerrar secion alv", destroy_admin_session_path, method: :delete%></strong>
          <strong><%=link_to "Edita tu perfil hijo mio", edit_admin_registration_path%></strong>
          <%else%>
           <strong><%=link_to "login",new_user_session_path%></strong>
           <strong><%=link_to "Registrate hijo mio",new_user_registration_path%></strong>
          <%end%>
      </div>
          
      </div>
    </div>
   
    <%= yield %>
    <%if notice%>
      <p class="alert alert-success"><%=notice%></p>
      <%end%>
      <%if alert %>
         <p class="alert alert-danger"><%=alert%></p>
      <%end%>
  </body>
</html>
